html{
box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing:inherit;
}
h2{
  flex-basis:90%;
 
  
}
.calculator-box{
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap:wrap;
  width:500px;
  margin:0px auto;
  background:#dfdfdf;
  padding:15px;
  border-radius:10px;
}
.display-box{
  border:3px solid #444;
  padding:15px;
  flex-basis:100%;
  margin:0 12px;
  background:#6e787e;
  
  color:#FFBB04;
  font-size:20px;
}.clear-button{
 
  opacity:0.6;
 
  flex-basis:45%;
  margin:10px;
  padding:10px;
}
.clear{
  background:#a0a1a3;
  cursor:pointer;
}
.clearAll{
  background:#a6687f;
  cursor:pointer;
}

.number,.symbols{
  background:#a0a1a3;
  text-align:center;
  padding:17px;
  flex-basis:30%;
  margin-top:10px;
  cursor:pointer;
}
.symbols{
  font-size:30px;
  padding:5px;
 
}
.equals{
  background:#65678c;
  cursor:pointer;
}
